.weather-card {
    max-width: 345px;
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.476),rgb(208, 208, 255));
    border-radius: 3px;
  }
  
  .weather-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .weather-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .weather-temp {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .weather-humidity {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  